:root {
    --height: 20px;
    --track-color: lightgray;
    --knob-color: white;
    --active-track-color: #64C2C8;
    --active-knob-color: white;
}

/* Switch styling starts*/

.switch {
    height: var(--height);
    border-radius: var(--height);
    position: relative;
    aspect-ratio:2;


}
span {
    margin: 0 0 0 4px;
    vertical-align: top;
}
.switch input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.switch div:before,
.switch div:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: var(--height);
    pointer-events: none;
    transition: all 0.5s ease;
}

.switch div:before {
    top: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: var(--track-color);
    transition-delay: 0.2s;
}

.switch div:after {
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background-color: var(--knob-color);
    min-height: calc(100% - 6px);
    aspect-ratio: 1;
}

.switch input[type="checkbox"]:checked~div:after {
    left: calc(100% - var(--height) + 3px);
    background-color: var(--active-knob-color);
}

.switch input[type="checkbox"]:checked~div:before {
    background-color: var(--active-track-color);
}

/* Switch styling ends */
